
{% extends 'Entry/base.html' %}
{% load login_extras %}


<!-- {% block title %}Entry Index{% endblock %} -->

{% block body %}



      <div class="col-sm-12">
	                <div class="panel panel-default">
	                    <div class="panel-body">
	                        <table class="table">
	                            <thead>
	                                <tr>
	                                    <th>Following:</th>
	                                    
	                                    
	                                
	                                </tr>
	                            </thead>
	                            <tbody>
	                                {% for follow in follow_list %}

	                                    <tr>

	                                        <td>
	                                        	<a href="{% url 'Entry:userdetail' follow.following.id %}">
	                                        		<button type="button" class="btn btn-success btn-xs">
	                                                    <span class="glyphicon glyphicon-user"></span>&nbsp; 
	                                                    {{ follow.following.username }}
	                                                </button>
	                                            </a>

	                                        	
	                                        </td>

	                                        	                                 
	                                      
	                                    </tr>
	                                {% endfor %}
	                            </tbody>
	                        </table>
	                    </div>
	                </div>


            
       </div>
    

{% endblock %}

