body{

	/*background-image:url("images/oldtexture.jpg");*/
    /*background: white url("images/oldtexture.jpg");
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;*/
    background: url('images/oldtexture.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.navbar{

	border-radius:0;
}

.navbar-brand{

	font-family: 'Montserrat',cursive;
}
.EntryFont{

    font-family: 'Ariel',cursive;
}
.TitleFont{

    font-family: 'Montserrat',cursive;
}
.FooterFont{

    font-family: 'Ariel',cursive;
}
.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse:not(.in) {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }